
.body {
    margin-top: 500px;


    .about {
        width: 1000px;
        height: 800px;
        display: block;
        margin: 0 auto;

        .name {
            font-size: 50px;
        }

        .description {
            width: 400px;
        }
    }
}

.parallax {
    background: url('../../images/mountain.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}